:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.body {
  margin-left: 10%;
	margin-right: 15%;
}

.navbar {
  margin-bottom: 3%;
}

.review-button {
  float: right;
}